<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td width=780 height=140 background="images/allgreen-header4-contact.jpg">&nbsp;</td>
        <td background="images/allgreen-header4-ext.jpg">&nbsp;</td></tr>
<tr><td height=20 background="/images/dkgrn-bkg.jpg" valign=center>
        <p class=small><img src="/images/blank.gif" width=70 height=10 border=0 align=left>
        <a class=nav href="/services"><B>SERVICES</b></a> &nbsp; &#8226; &nbsp;
        <a class=nav href="/about"><b>ABOUT US</b></a> &nbsp; &#8226; &nbsp;
        <a class=nav href="/contact"><b>CONTACT US</b></a> &nbsp; &#8226; &nbsp;
        <a class=nav href="/"><b>HOME</b></a></p></td><td background="/images/dkgrn-bkg.jpg">&nbsp;</td></tr>

</table>
<table width="100%" height=100% border="0" cellspacing="0" cellpadding="0">
<tr><td width=780 valign=top background="images/ltblue-bkg.jpg"><br>
        <table width=780 cellpadding=0 cellspacing=0 border=0>
        <tr><td width=30>&nbsp;</td>
        <td valign=top width=750><br>
        <p align=center>Please fill in the contact form below. We will get back to you.<br>If you need to speak
        to someone right away,<br>you can all <b>770.888.9399 or 404.444.0162</b></p>

        <p align=center><b>Allgreen Irrigation Systems</b><br>1768 Newt Green Road<br>Cumming, GA 30040</p>
<center>
        <FORM method="POST" ACTION="/contact">
        <input type=hidden name="redirect" value="http://www.allgreenirrigation.com">
<table border=0 width=600 cellpadding=0 cellspacing=0>
<tr><td style="font-family: arial, helvetica; font-size: 10pt; color: black" align=right>Name: &nbsp;</td>
        <td><input type=text name="name" size=72></td></tr>
<tr><td style="font-family: arial, helvetica; font-size: 10pt; color:  black" align=right>Email: &nbsp;</td>
        <td><input type=text name="mail" size=72></td></tr>
<tr><td style="font-family: arial, helvetica; font-size: 10pt; color: black" align=right>Address: &nbsp;</td>
        <td><input type=text name="address" size=72></td></tr>
<tr><td style="font-family: arial, helvetica; font-size: 10pt; color: black" align=right>City: &nbsp;</td>
        <td style="font-family: arial, helvetica; font-size: 10pt; color: black"><input type=text name="city" size=30> State: &nbsp;
        <input type=text name="state" size=3> &nbsp; Zipcode: <input type=text name="zipcode" size=11></td></tr>
<tr><td style="font-family: arial, helvetica; font-size: 10pt; color: black" align=right>Telephone: &nbsp;</td>
        <td><input type=text name="telephone" size=30></td></tr>
<tr><td valign=top style="font-family: arial, helvetica; font-size: 10pt; color: black" align=right>Comments: &nbsp;</td>
        <td><textarea name="comments" cols=55 rows=5></textarea></td></tr>
<tr><td colspan=2 align=center><input type="submit" value="Send Request"><br><br></td></tr>
</td></tr>
</table>
</form></p></td></tr>
        </table>
        </td><td background="/images/ltblue-bkg.jpg">&nbsp;</td></tr>
<tr><td colspan=3>
        <h2 align=center>&#169; Allgreen Irrigation 2006</h2></td></tr>
</table>
