<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<HEAD>
  <TITLE>ALLGREEN Irrigation Systems</TITLE>
  <meta name="description" content="">
  <meta name="">
  <style>
    H1 {font: normal 10pt "arial", "helvetica"; color: black}
    H2 {font: normal 8pt "arial", "helvetica"; color: black}
    H3 {font: normal 14pt "arial", "helvetica"; color: black}
    P {font: normal 10pt "arial", "helvetica"; color: black}
    P.small {font: normal 8pt "verdana", "arial", "helvetica", "san-serif"; color: white}
    P.xsmall {font-size:6pt}

    A:link{font: normal 9pt "arial", "helvetica"; color:660000; text-decoration:underline}
    A:visited{font: normal 9pt "arial", "helvetica"; color:660000; text-decoration:underline}
    A:hover{font: normal 9pt "arial", "helvetica"; color:cc6633; text-decoration: none}
    A.plain:link{font: normal 9pt "arial", "helvetica"; color:336666; text-decoration:none}
    A.plain:visited{font: normal 9pt "arial", "helvetica"; color:336666; text-decoration:none}
    A.plain:hover{font: normal 9pt "arial", "helvetica"; color: 996699; text-decoration: underline}
    A.fancy:link{font: normal 9pt "arial", "helvetica"; color:white; text-decoration:none; line-height:20pt}
    A.fancy:visited{font: normal 9pt "arial", "helvetica"; color:white; text-decoration:none; line-height:20pt}
    A.fancy:hover{font: normal 9pt "arial", "helvetica"; color:red; text-decoration:none; line-height:20pt}
    A.nav:link{font: bold 8pt "verdana", "arial", "helvetica";color:white; text-decoration:none; font-size;10pt}
    A.nav:visited{font: bold 8pt "verdana", "arial", "helvetica";color:white; text-decoration:none; font-size;10pt}
    A.nav:hover{font: bold 8pt "verdana", "arial", "helvetica";color: ffcc66; text-decoration: none; font-size;10pt}
  </style>
</HEAD>

<body top="0" left="0" topmargin="0" leftmargin="0" right="0" rightmargin="0" background="/images/ltblue-bkg.jpg">
    <%= yield %>
  </body>
</html>
