<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td width=780 height=140 background="/images/allgreen-header4-services.jpg">&nbsp;</td>
        <td background="/images/allgreen-header4-ext.jpg">&nbsp;</td></tr>
<tr><td height=20 background="/images/dkgrn-bkg.jpg" valign=center>
        <p class=small><img src="/images/blank.gif" width=70 height=10 border=0 align=left>
        <a class=nav href="/services"><B>SERVICES</b></a> &nbsp; &#8226; &nbsp;
        <a class=nav href="/about"><b>ABOUT US</b></a> &nbsp; &#8226; &nbsp;
        <a class=nav href="/contact"><b>CONTACT US</b></a> &nbsp; &#8226; &nbsp;
        <a class=nav href="/"><b>HOME</b></a></p></td><td background="images/dkgrn-bkg.jpg">&nbsp;</td></tr>

</table>
<table width="100%" height=100% border="0" cellspacing="0" cellpadding="0">
<tr><td width=780 valign=top background="/images/ltblue-bkg.jpg"><br>
        <table width=780 cellpadding=0 cellspacing=0 border=0>
        <tr><td width=30>&nbsp;</td>
        <td valign=top width=750><br>

        <h3 align=center>Services and Products</h3>

        <P><b>Our services</b> include the design, installation and maintenance of irrigation system, from small residential
        lawns to large commercial landscapes.</p>

                <ul>
                Professionally Installed Lawn Sprinklers<br>
                Outdoor Landscape Lighting<br>
                Water Lines & Faucets<br>
                Automatic Rain Sensor Shut-off<br>
                Landscaping & Hardscapes (walls, steps, walkways)<br>
                Drainage Lines<br>
                Change to Drip-System in Plant Beds &Trees Saves 60% on your Water Bill!<br></ul>



        <p>Our design engineers can design a system just for your situation to encompass
        all your needs.  With concerns about water usage in the Atlanta and North Georgia area, it becomes more important
        to install and maintain a system that addresses these issues of water usage. You spend a lot of money and time on
        your lawn and landscapes, and a irrigation system that addresses all these issues will more readily insure that
        your money and time are not washed down the drain.  A good irrigation system will save you money in the long run.</p>

        <p>Contact us by <a href="mailto:flanzz@aol.com"><b>email</b></a> or by <b>telephone(770.888.9399)</b>, and schedule an appointment where we can look over your landscapes and give you
        a free estimate of what it will take to keep your lawns and landscapes looking as good as they can get.  We will design a system,
        custom designed for you the customer.  We use the best
        products available for each situation.

        <p><b>Our Products</b> include:<br>
        <img src="images/rainbird-logo.jpg" border=0><br><br>
        <img src="images/hunter-logo.jpg" border=0><br><br>
        <img src="images/irritrol-logo.jpg" border=0><br><br>
        <img src="images/toro-logo.jpg" border=0></p>


        </td><td background="/images/ltblue-bkg.jpg"><br>&nbsp;<br></td></tr>
<tr><td colspan=3 height=50>
        <br>&nbsp;<br></td></tr>
<tr><td colspan=3>
        <h2 align=center>&#169; Allgreen Irrigation 2009</h2></td></tr>
</table>
